.text-image-block{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-bottom:1px solid #ccc ;
}
.text-image-block--title-col,
.text-image-block--text-col{
	padding:3em 0 2em 0;
}
.text-image-block--title-col{
	flex: 40% 0 0;
	padding-left: 3.875rem;
    box-sizing: border-box;
}
.text-image-block--title-col h2{
	margin: 0;
}
.text-image-block--text-col{
	flex: 20% 0 0;
}

.text-image-block--image-col{
	flex: 40% 0 0;
	margin-bottom: 2em;
}
.text-image-block--image-col figure{
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
	position: relative;
}
.text-image-block--image-col figure.dummy{
	background: #ccc;
}
.text-image-block--image-col figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}
@media all and (max-width:1024px){
	.text-image-block{
		padding: 0 0 0 2.625em;
		gap: 1em;
	}
	.text-image-block--title-col{
		flex: 100% 0 0;
		padding: 0;
	}
	.text-image-block--text-col{
		flex: 50% 0 0;
		padding: 0;
	}
	.text-image-block--image-col{
		flex: 40% 1 0;
		min-height: 30vh;
	}
}
@media all and (max-width:768px){
	.text-image-block{
		padding: 0 0 0 0;
	}
	.text-image-block--title-col,
	.text-image-block--text-col{
		flex: 100% 0 0;
		padding: 0 1em;
		box-sizing: border-box;
	}
	.text-image-block--title-col{
		order: 1;
	}
	.text-image-block--text-col{
		order: 3;
		margin-bottom: 1em;
	}
	.text-image-block--image-col{
		margin: 0 0 1em 0;
		order: 2;
	}
}
