.text-image-block{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: 1.54166667rem ;
	width: 100%;
	padding: 3.875rem 0 4.66666667rem 2.625rem;
	min-height: 34.4583333rem;
}
.text-image-block--title-col{
  flex: 25% 1 1;
	padding-top: 3.91666667rem;
}
.text-image-block--title-col h2{
	margin: 0;
}
.text-image-block--text-col{
  flex: 30% 1 1;
  padding-top: 3.91666667rem;
}
.text-image-block--image-col{
	flex:30% 1 1;
	min-height: 30vh;
}
.text-image-block--image-col figure{
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
	position: relative;
}
.text-image-block--image-col figure.dummy{
	background: #ccc;
}
.text-image-block--image-col figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}
@media all and (max-width:1090px){
		.text-image-block{
			padding: 0 2em;
		}
		.text-image-block--image-col{
		flex: 100% 0 0;
	}
}
@media all and (max-width:768px){
	.text-image-block{
		border-bottom:1px solid #ccc ;
		align-content: flex-start;
		padding: 0 1em ;
	}
	.text-image-block--title-col{
		flex: 100% 0 0;
	}
	.text-image-block--text-col{
		flex: 100% 0 0;
		padding: 0;
	}
	.text-image-block--image-col{
		flex: 100% 0 0;
		margin-bottom: 3.91666667rem;
	}
}