.headerblock{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	margin-top: calc(-1 * var(--header-height) );
}

.headerblock .headerblock-image-col{
	flex: 40% 0 0;
}
.headerblock .headerblock-image-col figure{
	width: 100%;
	height: 100%;
}
.headerblock .headerblock-image-col figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}


.headerblock .headerblock-text-col{
	flex: 60% 0 0;
	position: relative;
	background: var(--dark-blue);
	color: var(--white);
	box-sizing: border-box;
	padding: var(--header-height) 9.7916667rem 3rem 7.20833333rem;
}
@media screen and (max-width: 1400px){
	.headerblock .headerblock-text-col{
		padding-left: 2em; /*Zodat mobiele variant iets uitgesteld kan worden*/
	}
}
.headerblock .headerblock-text-col ul.usps{
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
}
@media screen and (min-width: 1090px){
	.headerblock .headerblock-text-col ul.usps{
		position: absolute;
		right: -10px;
		top: 50%;
		transform: translate(0, -50%);
	}
}
.headerblock .headerblock-text-col ul.usps li{
	display: block;
	width: 7.25rem;/*	width: 170px;*/
	aspect-ratio: 1;
	background: var(--white);
	margin-bottom: 1em;
	padding:1.375rem 0.79166667rem 0.625rem 0.79166667rem;
	box-sizing: border-box;
}

.headerblock .headerblock-text-col ul.usps li strong{
	color: var(--dark-blue);
	font-size: 0.83333333rem;
	line-height: 0.83333333rem;
	display: block;
}
.headerblock .headerblock-text-col ul.usps li svg{
	width: 2.2rem;
}

/*Verkleinend */
@media screen and (max-width: 1090px){
	.headerblock .headerblock-text-col{
		padding-right: 2em;
	}
	.headerblock .headerblock-text-col ul.usps{
		margin-top: 2em;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 1em;
	}
	.headerblock .headerblock-text-col ul.usps li{
		flex: 45% 1 0;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0;
    padding: 0.5em;
    text-align: left;
	}
	.headerblock .headerblock-text-col ul.usps li svg{
		width: 1.5em;
	}
}

@media screen and (max-width: 768px){
	.headerblock .headerblock-image-col{
		order: 1;
		flex: 100% 0 0;
	}
	.headerblock .headerblock-text-col{
		padding: 2em 1em 1em 1em;
		order: 2;
		flex: 100% 0 0;
	}
	.headerblock .headerblock-text-col ul.usps li strong{
		font-size: 1em;
		line-height: 1em;
	}

}