.headerblock{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
		margin-top: calc(-1 * var(--header-height) );

}
.headerblock .headerblock-text-col{
	flex: 60% 0 0;
	position: relative;
	background: var(--dark-blue);
	color: var(--white);
	box-sizing: border-box;
	padding:7.58333333rem 9.7916667rem 3rem 7.20833333rem;
/*		padding: var(--header-height) 0 0 0;*/

}
.headerblock .headerblock-image-col{
	flex: 40% 0 0;
}
.headerblock .headerblock-image-col figure{
	width: 100%;
	height: 100%;
}
.headerblock .headerblock-image-col figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.headerblock .headerblock-text-col ul.usps{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: -25px;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;
}
.headerblock .headerblock-text-col ul.usps li{
	display: block;
	width: 170px;
	aspect-ratio: 1;
	background: var(--white);
	margin-bottom: 1em;
	padding:1.375rem 0.79166667rem 0.625rem 0.79166667rem;
	box-sizing: border-box;
}
.headerblock .headerblock-text-col ul.usps li strong{
color: var(--dark-blue);
	font-size: 0.83333333rem;
	line-height: 0.83333333rem;
	display: block;
}
.headerblock .headerblock-text-col ul.usps li svg{
	width: 2.2rem;
}
@media screen and (max-width: 1024px){
	.headerblock .headerblock-text-col{
		flex: 100% 0 0;
		order: 2;
	}
	.headerblock .headerblock-image-col{
		flex: 100% 0 0;
		height: 80vh;
		order: 1;
	}
}