.headerblock{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin-top: calc(-1 * var(--header-height) );
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	font-family: "kiro", sans-serif;
}
.headerblock::-webkit-scrollbar{
	display: none;
}
.headerblock .hero-wrap{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.headerblock .headerblock-image-col{
	flex: 40% 0 0;
	background: #ccc;
	height: 100%;
	z-index: 0;
}
.headerblock .headerblock-image-col figure{
	width: 100%;
	height: 100%;
}
.headerblock .headerblock-image-col figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.headerblock .headerblock-text-col{
	flex: 60% 0 0;
	position: relative;
	background: var(--dark-blue);
	color: var(--white);
	box-sizing: border-box;
	padding: var(--header-height) 10% 0 5rem;
	height: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
    justify-content: center;
    font-size: min(2vw, 4vh, 1.5rem);
    line-height: 1.5em;
}
.headerblock .headerblock-text-col p#breadcrumbs{
	position: absolute;
	top: var(--header-height);
}
.headerblock .headerblock-text-col .text{
	padding: 0 0 5em;
}
.headerblock .headerblock-text-col .text > *:first-child{
	margin-top: 0;
}
.headerblock .headerblock-text-col .text > *:last-child{
	margin-bottom: 0;
}
.headerblock .headerblock-text-col h1{
	margin: 0 0 0.4em;
	font-size: 2em;
}
.headerblock .headerblock-text-col ul.usps{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.headerblock .headerblock-text-col ul.usps li{
	display: flex;
	width: auto;
	background: var(--white);
	box-sizing: border-box;
	align-items: center;
	padding: 0;
	margin: 0;
}
.headerblock .headerblock-text-col ul.usps li a:link,
.headerblock .headerblock-text-col ul.usps li a:visited{
	text-decoration: none;
	color: inherit;
}
.headerblock .headerblock-text-col ul.usps li a:hover{
	color: var(--bright-orange);
}
.headerblock .headerblock-text-col ul.usps li strong{
	color: var(--dark-blue);
	font-size: 0.6em;
	line-height: 0.83333333em;
	display: block;
}
.headerblock .headerblock-text-col ul.usps li svg{
	width: 70%;
	margin-bottom: 0.3em;
}

.headerblock .headerblock-usps{
	position: relative;
	z-index: 2;
	color: var(--bright-green);
	overscroll-behavior: auto;
	list-style: none;
	margin: 0;
	padding: 0 10% 3em 5rem;
	display: flex;
	width: 60%;
	font-size: 1.7vw;
	line-height: 1.5em;
	font-style: italic;
	font-weight: 600;
}
.headerblock .headerblock-usps li{
	flex: auto 1 1;
	box-sizing: border-box;
	padding: 0 0.5em;
	margin: 0;
    overflow: visible;
}
.headerblock .headerblock-usps li:first-child{
	padding-left: 0;
}
.headerblock .headerblock-usps li:last-child{
	padding-right: 0;
}
.headerblock .headerblock-usps li:not(:last-child){
	border-right: 1px solid var(--bright-green);
}
.headerblock .headerblock-usps li strong{
	display: block;
	font-size: 1.5em;
	font-weight: 900;
	font-style: normal;
	white-space: nowrap;
}


@media screen and (min-width: 768px){
	.headerblock .headerblock-text-col ul.usps{
		position: absolute;
		width: 15%;	
		right: -3.5%;
		top: calc(var(--header-height) + (100vh - var(--header-height)) / 2);
		transform: translate(0, -50%);
		max-height: calc(100vh - var(--header-height));
		overflow: hidden;
	}
	.headerblock .headerblock-text-col ul.usps li{
		margin-bottom: 1em;
		padding: 0.5em 0.3em;
		flex-direction: column;
		aspect-ratio: 1;
		overflow: hidden;
		justify-content: center;
		max-height: calc((100vh - var(--header-height) - 3em) / 4);
	}
	.headerblock .headerblock-text-col ul.usps li:last-child{
		margin-bottom: 0;
	}
}
@media screen and (max-width:768px){
	.headerblock .hero-wrap{
		height: unset;
		position: relative;
	}
	.headerblock .headerblock-image-col{
		flex: 100% 0 0;
		order: 1;
		height: 75vh;
	}
	.headerblock .headerblock-text-col{
		flex: 100% 0 0;
		order: 2;
		padding: 4em 2em 1em 2em;
		font-size: 1em;
	}
	.headerblock .headerblock-text-col .text {
		padding: 0 0 0;
	}
	.headerblock .headerblock-text-col h1{
		font-size: 2.125em;
		line-height: 1.117em;
	}
	.headerblock .headerblock-text-col ul.usps {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		padding: 0;
		position: absolute;
		top: -5em;
		left: 1em;
		right: 1em;
	}
	.headerblock .headerblock-text-col ul.usps li{
		justify-content: flex-start;
		flex: 45% 1 0;
		padding: 0.5em;
		gap: 0.5em; 
		text-align: left;
		box-sizing: border-box;
	}
	.headerblock .headerblock-text-col ul.usps li strong{
		font-size: 0.75em;
		line-height: 1;
	}
	.headerblock .headerblock-text-col ul.usps li svg{
		width: 2.2em;
		margin: 0;
	}
	.headerblock .headerblock-usps{
		width: 100%;
		padding: 0 2em 2em;
		font-size: 1em;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		background: var(--dark-blue);
		gap: 0.5em;
	}
	.headerblock .headerblock-usps li{
		padding: 0;
	}
	.headerblock .headerblock-usps li strong{
		font-size: 1.3em;
	}
}
@media screen and (max-width:300px){
	.headerblock .headerblock-text-col ul.usps li strong{
		font-size: 0.6em;
	}
}