.cta-block{
	box-sizing: border-box;
	display: flex;
	width: 100%;
	min-height: 80vh;
	font-family: "kiro", sans-serif;
}
.cta-block .text-col{
	flex: 40% 1 1;
	background: var(--dark-blue);
	color: var(--white);
	padding:7.958rem 2.5rem 2.916rem 2.5rem;
	box-sizing: border-box;
}
.cta-block .text-col h2{
  	font-size: 1.75rem;
	line-height: 2.0833333rem;
	font-style: normal;
	font-weight: 800;
}
.cta-block .image-col{
	flex: 60% 1 1;
}
.cta-block .image-col figure{
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
	position: relative;
}
.cta-block .image-col figure.dummy{
	background: #ccc;
}
.cta-block .image-col figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}
@media all and (max-width:768px){
	.cta-block{
		display: block;
	}
	.cta-block .image-col{
		height: 50vh;
		order: 2;
	}
	.cta-block .text-col{
		padding:3em 2em 1em 2em;
		order: 1;
	}
}