.cta-block{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 50vh;
	box-sizing: border-box;
}
.cta-block .text-col{
	flex: 40% 0 0;
	background: var(--dark-blue);
	color: var(--white);
	padding-top: 7.9583333rem;
	padding-left: 2.5rem;
	box-sizing: border-box;
	padding-right: 2.5rem;
	padding-bottom: 2.9166667rem;
}
.cta-block .text-col h2{
	margin-top: 0;
  font-size: 1.75rem;
  line-height: 2.0833333rem;
	font-style: normal;
	font-weight: 800;
}
.cta-block .image-col{
	flex: 60% 0 0;
}
.cta-block .image-col figure{
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
	position: relative;
}
.cta-block .image-col figure.dummy{
	background: #ccc;
}
.cta-block .image-col figure img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}

@media all and (max-width:1090px){
	.cta-block .image-col{
		flex: 100% 0 0;
		min-height: 50vh;
	}
	.cta-block .text-col{
		flex: 100% 0 0;
		padding-top: 3em;
	}
}
@media all and (max-width:768px){
	.cta-block .text-col{
		padding: 2em 1em 1em 1em;
	}
}