.productHeaderBlock{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	margin-top: calc(-1 * var(--header-height) );
}
.productHeaderBlock .text-col{
	flex: 60% 0 0;
	padding: var(--header-height) 0 0 20%;
	box-sizing: border-box;
	position: relative;
}
.productHeaderBlock .image-col{
	flex: 40% 0 0;
	height: 100%;
	overflow: auto;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.productHeaderBlock .image-col::-webkit-scrollbar{
	display: none;
}
.productHeaderBlock .image-col figure{
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
}
.productHeaderBlock .image-col figure img{
	object-fit: cover;
	display: block;
	width: 100%;
	height: 100%;
}
.productHeaderBlock .text-col ul.usps{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
}
.productHeaderBlock .text-col ul.usps li{
	display: block;
	width: 170px;
	aspect-ratio: 1;
	background: var(--white);
}

@media screen and (max-width: 1024px){
	.productHeaderBlock .text-col{
		flex: 100% 0 0;
		order: 2;
	}
	.productHeaderBlock .image-col{
		flex: 100% 0 0;
		height: 80vh;
		order: 1;
	}
}